<div style="margin-right:10px;">
  <button mat-button style="background: grey; margin-left:10px;" (click)="addUser()">Add new User</button>
  <ngx-datatable #tabela class="bootstrap" [rows]="rows" [columnMode]="'force'" headerHeight="50" footerHeight="65"
    footerWidth="auto" rowHeight="auto" headerHeight="50" footerHeight="50" rowHeight="auto"
    [reorderable]="reorderable">
<!--     <ngx-datatable-column name="id">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column> -->
    <ngx-datatable-column name="username">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="firstName">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="password">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="lastName">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="address">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="role">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="dateOfBirth">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="salary">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span (click)="updateUser(row)">
          Edit</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span (click)="removeUser(row)">
          Remove</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>