.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  width:300px;
  margin:0px auto;
  background-color: #424242;
}

mat-card-title, mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-form-field.mat-form-field {
  background-color: #424242;
}
