<mat-sidenav-container *ngIf="!currentUser">

  <router-outlet></router-outlet>

  </mat-sidenav-container>
  <mat-sidenav-container *ngIf="currentUser">
    <mat-sidenav #mainsidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ">
      <div style="height: 88vh;">
        <app-header [sidenav]="mainsidenav"></app-header>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>